<% const socialLogin = {
    links: [
        { 
            slug: '/auth/google', 
            class: 'btn-google', 
            content: 'Goggle <i class="fab fa-google"></i>' 
        }
    ],
    toggleButton: {
        id: 'registerBtn',
        class: 'btn btn-outline-primary',
        attrs: {
            'data-mdb-modal-init': '',
            'data-mdb-target':'#registerModal'
        },
        content: 'Regístrate'
    }
} %>

<p class="text-center">Accede con:</p>

<% socialLogin.links.forEach(link => { %>
    <div class="text-center my-4">
        <a href="<%= link.slug %>" class="btn btn-outline-primary <%= link.class %>">
            <%- link.content %>
        </a>
    </div>
<% }); %>

<div class="text-center my-4">
    <%- include('../../../../shared/button', { button: socialLogin.toggleButton }) %>
</div>

<p class="text-center">O con:</p>