<% const modal = {
    header: {
        button: {
            id: 'supplierCloseBtn'
        },
        title: {
            id: 'supplierModalTitle'
        }
    },
    form: {
        id: 'supplierForm',
        inputs: [
            {
                id: 'nameSupplierInput',
                type: 'text',
                name: 'name',
                label: {
                    content: 'Nombre'
                }
            },
            {
                id: 'numberphoneSupplierInput',
                type: 'tel',
                name: 'numberphone',
                label: {
                    content: 'Teléfono'
                }
            },
        ],
        checkbox: {
            id: 'isActiveSupplierInput',
            type: 'checkbox',
            name: 'isActive',
            content: 'Activo'
        },
        submitButton: {
            id: 'saveSupplierBtn',
            content: 'Guardar'
        }
    }
} %>

<table id="supplierTable" class="display">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

<%- include('../../../shared/modal', { modal }) %>

<script type="module" src="/js/pages/warehouse/suppliers/index.js"></script>

<%- contentFor('title') %>
Proveedores
<%- contentFor('layoutType') %>
site