<table id="productTable" class="table table-hover align-middle mb-0 datatable-table product-detail-table w-100"></table>

<%- include('./validationMessage', { 
    name: 'details', 
    errorClass: 'alert alert-danger d-none mt-2' 
}) %>