<% const modal = {
    header: {
        button: {
            id: 'productCloseBtn'
        },
        title: {
            id: 'productModalTitle'
        }
    },
    form: {
        id: 'productForm',
        inputs: [
            {
                id: 'nameProductInput',
                type: 'text',
                name: 'name',
                label: {
                    content: 'Nombre'
                }
            }
        ],
        submitButton: {
            id: 'saveProductBtn',
            content: 'Guardar'
        }
    }
} %>

<table id="productTable" class="display">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

<%- include('../../../shared/modal', { modal }) %>

<script type="module" src="/js/pages/warehouse/products/index.js"></script>

<%- contentFor('title') %>
Productos
<%- contentFor('layoutType') %>
site