<% const modal = {
    header: {
        button: {
            id: 'categoryCloseBtn'
        },
        title: {
            id: 'categoryModalTitle',
            content: 'Registro de categoría'
        }
    },
    form: {
        id: 'categoryForm',
        inputs: [
            {
                id: 'nameCategoryInput',
                type: 'text',
                name: 'name',
                label: {
                    content: 'Nombre'
                }
            }
        ],
        submitButton: {
            id: 'saveCategoryBtn',
            content: 'Guardar'
        }
    }
} %>

<table id="categoryTable" class="display">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

<%- include('../../../shared/modal', { modal }) %>

<script type="module" src="/js/pages/warehouse/categories/index.js"></script>

<%- contentFor('title') %>
Categorías
<%- contentFor('layoutType') %>
site