<% const form = {
    canApprove: true,
    selects: [
        {
            id: 'supplierInput',
            name: 'supplierId',
            col: '6'
        },
        {
            id: 'receivedByInput',
            name: 'receivedById',
            col: '6'
        }
    ],
    inputs: [
        {
            id: 'observationsInput',
            name: 'observations',
            type: 'text',
            label: 'Observaciones',
        },
        {
            id: 'receptionDateInput',
            name: 'receptionDate',
            type: 'datetime-local',
            label: 'Fecha y hora de recepción:',
        }
    ],
    table: {
        select: {
            id: 'productInput',
            name: 'productId',
            label: 'Producto'
        },
        inputs: [
            {
                id: 'quantityInput',
                name: 'quantity',
                type: 'number',
                label: 'Cantidad',
                col: '3'
            },
            {
                id: 'descriptionInput',
                name: 'description',
                type: 'text',
                label: 'Descripción',
                col: '3'
            }
        ]
    }
} %>

<table id="table" class="display">
    <thead>
        <tr>
            <th>Folio</th>
            <th>Recepción</th>
            <th>Proveedor</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

<%- include('../../../shared/modal', { form }) %>

<script type="module" src="/js/pages/warehouse/goodsReceiptsPage.js"></script>

<%- contentFor('title') %>
Recepciones de compra
<%- contentFor('layoutType') %>
site